<!-- flashcard.ejs -->
<div class="row mt-5">
    <div class="col-lg-12 text-center">
        <h3>Featured Flashcards</h3>
        <div class="row">
            <% if (topics.length===0) { %>
                <p>No topics available.</p>
                <% } else { %>
                    <% topics.forEach(topic=> { %>
                        <div class="col-lg-3 mb-3">
                            <div class="card">
                                <img src="https://via.placeholder.com/150" class="card-img-top"
                                    alt="<%= topic.title %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= topic.title %>
                                    </h5>
                                    <a href="/vocabularies?topicId=<%= topic.id %>" class="btn btn-primary">Learn
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } %>