<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
    <link rel="shortcut icon" type="image/png" href="../public/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="../public/css/styles.min.css" />
</head>

<body>

    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Sidebar Start -->
        <%- include('sidebar', { userId: userId }) %>

            <!--  Sidebar End -->

            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <%- include('header') %>
                    <!--  Header End -->
                    <div class="container-fluid">
                        <!-- Main content -->

                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img src="../public/images/products/vocabulary_logo.jpg" class="card-img-top" alt="Vocabulary">
                                    <div class="card-body">
                                        <h5 class="card-title">Vocabulary Lessons</h5>
                                        <p class="card-text">Explore new words and phrases every day with interactive lessons.
                                        </p>
                                        <a href="/vocabulary" class="btn btn-primary">Start Learning </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img src="../public/images/products/chatlogo.jpg" class="card-img-top" alt="Chat">
                                    <div class="card-body">
                                        <h5 class="card-title">Chat with your Friends</h5>
                                        <p class="card-text">Practice your vocabulary by chatting with our language tutor.
                                        </p>
                                        <a href="/chat" class="btn btn-primary">Start Chatting</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img src="../public/images/products/translate_logo.jpg" class="card-img-top" alt="Video">
                                    <div class="card-body">
                                        <h5 class="card-title">Translate</h5>
                                        <p class="card-text">Learn new vocabulary through engaging video lessons.</p>
                                        <a href="/video" class="btn btn-primary">Translate now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%- include('flashcardTopic', { topics: topics }) %>

                    </div>
            </div>
    </div>
    </div>
    </div>
    <script src="../public/libs/jquery/dist/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../public/libs/simplebar/dist/simplebar.js"></script>
    <script src="../public/js/sidebarmenu.js"></script>
    <script src="../public/js/app.min.js"></script>
    <script src="../public/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>